body {
  font-family     : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(240, 252, 189);
}

h1 {
  color        : rgb(206, 231, 62);
  font-size    : 24px;
  text-align   : left;
  line-height  : 29px;
  margin-bottom: 0;
}

ul {
  margin : 0;
  padding: 0;
}

li {
  list-style: none;
  margin    : 0;
  padding   : 0;
  color     : rgb(206, 231, 62);
  /* color : rgb(135, 135, 135); */
  font-size  : 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.app-border {
  padding         : 20px;
  border          : 1px solid #DADDE1;
  border-radius   : 10px;
  background-color: #064975;
}

.app-wrapper {
  max-width: 600px;
  margin   : 35px auto;
}

.city-view {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 10px;
  height      : 64px;
  width       : 64px;
  opacity     : 30;
}

.weather-temp strong {
  color      : #fff;
  font-size  : 64px;
  font-weight: 400;
  line-height: 1;
  
}
.weather-temp strong{
  position: relative;
  left    : 55px;
  bottom  : 65px;
}

.weather-temp .units {
  position : relative;
  font-size: 16px;
  left     : 50px;
  top      : -95px;
  color    : rgb(206, 231, 62);
}

.weather-temp .active{
  color  : black;
  cursor : default;
  opacity: 1.2;
  
}
.source-code{
  text-decoration: none;
}

.five-days-forecast{
  text-align : center;
  margin     : 20px;
  color      : rgb(206, 231, 62);
  font-weight: 700;
}

.forecast-day{
  font-size: 16px;
  opacity  : 0.8;
}

.forecast-temperature{
  font-size: 13px;
}
.forecast-in-min{
  opacity: 0.5;
}
.float-up{
 position: relative;
 left    : 150px;
 bottom  : 80px;
}